*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	font-weight:  400;
	line-height: 1.5;
	
	background-color:  #112D32;
	background-position: center;
	background-size: cover;
	margin-right: 0;
	align-items: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#home{
	
	min-height: 100vh;
	
	background-color: #88BDBC;
}
h3{
	color: #653780;
}



#h1brand{
	color: white;
}


 #h1name, #h1about, #h1tools, #h1projects, #h1contact, #h1outputs{
	color: white;
	text-decoration: underline;
}





#imgabout{
	width: 1000px;
	height: 200px;
}


button{
	background-color:#262254 ;
}

#navbarCollapse{
	background-color: ;
}

a{
	color: #262254;
	font-size: 30px;
}

a:hover{
	
	color: white;
	font-size: 50px;
}

#h1aboutme:hover{
	color: #653780;
}

#AboutMe{
	border: 3px double;
	background-color: #88BDBC;

}


#Tools{
	border: 3px double;
	background-color: #88BDBC;
}

#Contact{
	border: 3px double;
	background-color: #88BDBC;
}

#Projects{
	border: 3px double;
	background-color: #88BDBC;
}

#carousel{
	background-color:#88BDBC ;
}

#h1about:hover{
		color: #653780;

}
  
#h1tools:hover{
	color: #653780;
}


#h1projects:hover{
	color: #653780;
}

#h1contact:hover{
	color: #653780;
}

#h1outputs:hover{
	color: #653780;
}

p{
	font-size: 20px;
	color: white;
}

p strong{
	color: white;
	font-size: 30px;
}

h5 p{
	color: whitesmoke;
}
#navitem{
	color: whitesmoke;
}



.toolslogo {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: auto;
}

.toolslogo:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

#imgbong{
		transition: transform .2s;
		 width: 300px;
  		height: 300px;

}


#imgbong{
		transition: transform .2s;
		 width: 300px;
  		height: 300px;

}

label{
	color: white;
}

footer{
	color: white;
}