*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	font-weight:  400;
	line-height: 1.5;
	margin-right: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


nav ul{
	color: black;
}

nav li{
	padding:	0 20px;
	background-color: black;
	opacity: 60%;
}

nav li a{
	color: white;
	text-align: center;
	
}

nav li a:hover{
	color: black;
	background-color: white;
}

#home{
	border: 1px solid;
	border-color: white;
	position: relative;
	height: 100vh;
}

#Tools{
	border: 1px solid;
	border-color: white;
	position: relative;
}

#Projects{
	border: 1px solid;
	border-color: white;
	position: relative;
}


footer{
	border: 1px solid;
	border-color: white;
	position: relative;
	padding-bottom: 3px;
}


h3{
	color: blue;
}

.card-title, .card-text{
	color: black;
}

 #h1name, #h1about, #h1tools, #h1projects, #h1contact, #h1outputs{
	color: white;
	text-decoration: underline;
}




#h1aboutme:hover{
	color: #653780;
}

#AboutMe{
	border: 3px double;
	background-color: #88BDBC;

}


#Contact{
	border: 3px double;
	background-color: #88BDBC;
}



#carousel{
	background-color:#88BDBC ;
}

#h1about:hover{
		color: #653780;

}
  
#h1tools:hover{
	color: #653780;
}


#h1projects:hover{
	color: #653780;
}

#h1contact:hover{
	color: #653780;
}

#h1outputs:hover{
	color: #653780;
}

p{
	font-size: 20px;
	color: white;
}

p strong{
	color: white;
	font-size: 30px;
}

h5 p{
	color: whitesmoke;
}



.toolslogo {
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: auto;
}

.toolslogo:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

#imgbong{
		transition: transform .2s;
		 width: 300px;
  		height: 300px;

}


label{
	color: white;
}

footer{
	color: white;
}